html{font-size: 10px;}
body{
    font: 1.5rem Arial, Verdana, sans-serif;
    margin: 0;
    color: #333;
    min-height: 100vh;
}
h1{
    font: italic 2rem Georgia, serif; 
    font-size: 8rem; 
    margin-bottom: .5em; 
    color: white;
    text-shadow: 1px 1px 2px black;
}
h2{
    font-size: 3rem;
    margin: 1em 0 1em;
    color: #8B001D;
    box-shadow: 0px 0.1em 0px #8B001D;
}

p{
    margin: 0 0 1.5em;
    text-align: left;
}

a{
    color: #8B001D;
    text-decoration: none;
}

nav{
    font-size: 20px;    
    background-color: white;
    box-shadow: 0px 0.6em 0px #8B001D;
    padding: 10px;
    margin-bottom: 0.5em;    
    position: sticky;
    top: 0;
    z-index: 5;   
}

nav a:hover{
    color: #333;
    box-shadow: 0px 0.2em 0px #8B001D;
}

.nav1 ul{    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 2em;
    
}

.nav1 li:first-child { margin-right: auto;}

div.d1{    
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 0px 6px 5px rgba(0, 0, 0, .3);
    gap: 2em;
}

.d1{
    background-image: url(https://images.unsplash.com/photo-1665945203723-d823de195bf4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

blockquote{
    box-shadow: 0.1em 0;
    width: 60%;
    color: white;
    text-shadow: 1px 1px 2px black;
    font: italic 3rem Georgia, serif;   
}

.h1a{order: 1;
}

main{    
    padding: .5em 0;
    display: flex;
    justify-content: center;
}

article.main{width: 60%}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 40px;
    background: #8B001D;
    
}

footer .container{
    color: #fff;
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}

footer .container .sec{
    margin-right: 10px;
}


footer .container h2
{
    position: relative;
    color: #fff;
    font-weight: 300;
    margin-bottom: 15px;
}

.social{    
    width: 25%;
}

.sci{
    margin-top: 20px;
    display: flex;
    justify-content: Space-Between;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;    
    background: #AA001D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover{
    background: #333;
}

.sci li a .fa{
    color: #fff;
    font-size: 30px;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    display: inline-block;
    
}

.quickLinks ul li a:hover{
    color: #333;
}

.contact{
    width: 25%;
    margin-right: 0 !important; 
}

.contact .info{
    position: relative;    
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color:#fff;
    font-size: 20px;
    margin-right: 10px;    
}

.contact .info li span{
    color: #fff;
}

.contact .info li a{
    color: #fff;
    text-decoration: none;
   
}

.contact .info li a:hover{
    color: #333;
}

.copyrightText{
    width: 100%;
    background: #8B001D;
    color: #fff;
    font-size: 10px;
    padding: .1em 100px;  
}

.copyrightText p{text-align: center;}




